
.item-group {
    margin: 0 auto;
    max-width: calc(250px * 4 + 50px * 3);
    gap: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.item__list {
    max-width: 250px;
    box-sizing: border-box;
}
.item-wrapper__img, .item__list-img {
    position: relative;
    height: 250px;
    width: 250px;
    box-sizing: border-box;
}
.sold-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    font-weight: bold;
    color: white;
    font-size: 25px;
}
.item__list-name {
    font-size: 15px;
}


#recommendBtn, #mylistBtn {
    border: none;
    background-color: white;
    font-size: 20px;
    margin-left: 70px;
    color: gray;
}
#recommendBtn.active,
#mylistBtn.active {
    color: #ff5151;
}
.item__list-tab {
    border-bottom: 1px solid gray;
    padding: 10px 0 0 100px;
    width: 100vw;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 45px;
}

@media screen and (max-width: 850px) {
    .item-wrapper__img, .item__list-img {
        height: 150px;
        width: 150px;
        box-sizing: border-box;
    }
    .item__list-name {
        font-size: 10px;
        margin: 5px;
    }
    .item-group {
        max-width: calc(150px * 3 + 40px * 2);
        gap: 40px;
    }
    .item__list {
        max-width: 150px;            box-sizing: border-box;
    }
}