.item-group {
    text-align: center;
}
.item__list {
    margin: 15px;
    display: inline-block;
    text-align: start;
}
.item__list-img {
    height: 200px;
    width: 200px;
}
.item__list-name {
    font-size: 15px;
    margin: 5px;
}

#recommendBtn, #mylistBtn {
    border: none;
    background-color: white;
    font-size: 20px;
    margin-left: 70px;
}
.item__list-tab {
    border-bottom: 1px solid gray;
    padding: 10px 0 0 100px;
    width: 100vw;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 45px;
}

@media screen and (max-width: 850px) {
    .item__list-img {
        height: 150px;
        width: 150px;
    }
    .item__list-name {
        font-size: 10px;
        margin: 5px;
    }
}