
.transaction {
    display: flex;
    height: 100%;
}
.no-padding .content {
    padding: 0 !important;
    height: 100%;
}
.transaction__group--left {
    background-color: rgb(154, 149, 149);
    width: 15%;
    box-sizing: border-box;
    flex-shrink: 0;
}
.transaction__side-title {
    margin: 0;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding-top: 10px;
}


.transaction__group--right {
    width: 85%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex: 1;
}
.transaction__head {
    flex: 0 0 auto;
    height: 70px;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    border-bottom: 2px solid gray;
}
.transaction__head-heading, .transaction__head-side {
    display: flex;
    align-items: center;
}
.transaction__head-placeholder {
    background-color: #ccc;
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
}
.transaction__head-title {
    margin: 0;
    font-size: 28px;
}
.transaction__head-btn {
    background-color: #ff5151;
    color: white;
    border-radius: 20px;
    padding: 5px 10px;
    border: none;
    font-size: 15px;
}

.transaction__item {
    flex: 0 0 auto;
    height: 130px;
    display: flex;
    padding: 10px 20px;
    border-bottom: 2px solid gray;
}
.transaction__item-img--left {
    height: 110px;
    width: 110px;
    display: inline-block;
}
.transaction-group__item {
    height: 130px;
    margin-left: 50px;
}
.transaction__item-large, .transaction__item-small {
    margin: 0;
    line-height: 130px;
}

.message {
    padding: 5px 20px 80px;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    overflow-y: auto;
    background-color: aquamarine;
}
.message-group {
    max-width: 45%;
    margin-bottom: 10px;
}
.message__partner--left {
    align-self: flex-start;
    flex-direction: row;
}
.message__myself--right {
    align-self: flex-end;
    flex-direction: row-reverse;
}
.message__myself--right .message__user {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
}
.message__user {
    height: 50px;
    display: flex;
    align-items: center;
}
.message__user-name {
    margin: 0 10px;
    font-weight: bold;
    display: inline-block;
}
.message__user-placeholder {
    background-color: #ccc;
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}
.message-content {
    display: flex;
    background-color: #ccc;
    padding: 5px 10px;
    border-radius: 3px;
    max-width: 100%;
    word-wrap: break-word;
}
.message__edit {
    display: flex;
    justify-content: flex-end;
}
.message__edit-btn {
    color: gray;
}
.message__delete {
    margin-left: 20px;
}
